name: Ampere_Resnet18_CIFAR100
project: ampere_acc_test
entity: tejalapeno
program: train/train.py

method: grid

parameters:
  model:
    value: Ampere_Resnet18
  epochs:
    value: 100
  dataset:
    value: CIFAR100
  batch_size:
    values: [64, 128, 256]
  learning_rate:
    value: .001
  val_ratio:
    value: .2
